<template name="mdlTextfield">

  {{#MaterialTextfield atts=atts}}
  
  <div {{atts}}>
    
    {{#if expandable}}

    {{>mdlButton for=inputId icon=../icon effect="icon"}}
    <div class="mdl-textfield__expandable-holder">
      <input {{inputAtts}} />
      <label class="mdl-textfield__label" for="{{inputId}}">{{label}}</label>
    </div>

    {{else}}

    {{#if isTextarea}}
    <textarea {{inputAtts}}></textarea>
    {{else}}
    <input {{inputAtts}} />
    {{/if}}
    <label class="mdl-textfield__label" for="{{inputId}}">{{label}}</label>
    
    {{#if error}}
    <span class="mdl-textfield__error">{{error}}</span>
    {{/if}}

    {{/if}}

  </div>

  {{/MaterialTextfield}}

</template>