<template name="mdlButton">

  {{#MaterialButton atts=atts}}

  {{#if isLink}}
  <a {{atts}}>
    {{#if icon}}
      <i class="material-icons">{{icon}}</i>
    {{else}}
      {{content}}
    {{/if}}
  </a>
  {{else}}
  
    {{#if this.for}}
    <label {{atts}}>
      {{#if icon}}
        <i class="material-icons">{{icon}}</i>
      {{else}}
        {{content}}
      {{/if}}
    </label>

    {{else}}

    <button {{atts}}>
      {{#if icon}}
        <i class="material-icons">{{icon}}</i>
      {{else}}
        {{content}}
      {{/if}}
    </button>
    {{/if}}

  {{/if}}

  {{/MaterialButton}}
  
</template>